body {
    background: rgb(255, 123, 14);
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 8px;
}

#illustrations {
    display: flex;
    justify-content: center;
    gap: 16px;
    size: 500px;
    flex-direction: column;
}

#illustrations img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border: 3px solid white;
}

a {
    color: inherit;
    text-decoration: none;
}

#tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 8px;
    background: darkred;
    border: 1px solid white;
}

#tabs:hover {
    transform:scale(1.1);
    transition: 0.5s;
}